POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
DB_HOST=db
DB_PORT=5432
DEBUG=FALSE
SECRET_KEY=my-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1,your_domen
DATABASE_SQLITE=FALSE
CSRF_TRUSTED_ORIGINS=https://your_domen,http://your_domen